@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f0e5d5;
  --dark-red: #650208;
  --gradient-light-red: #e30613;
  --gradient-dark-red: #7d030a;
  --adobo-orange-bg: #e47e1a;
  --secondary-beige: #ffedce;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  background-color: var(--bg-color);
}

header {
  background-color: var(--bg-color);
}
