@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #F0E5D5;
  --dark-red: #650208;
  --gradient-light-red: #E30613;
  --gradient-dark-red: #7D030A;
  --adobo-orange-bg: #E47E1A;
  --secondary-beige: #FFEDCE;
}

body{
  background-color: var(--bg-color);
  overflow-x: hidden
}

header {
  background-color: var(--bg-color)
}
